/* Navbar Css */
.navbar {
    font-size: 14px;
    background-color: black !important;
    height: 55px;

}

/* Logo CSS */
.logotop {

    position: fixed;
    z-index: 99;
    padding-top: 50px;
}


/* Top Nav Search Bar */
.navsearch {
    padding-left: 20px;
    padding-right: 30px;
}


.fa-search {
    color: #E14848;

}

.navbar a:hover {
    background-color: #E14848;
    border-radius: 4.5px;
}


.h7 {
    padding-left: 10px !important;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Helvetica';
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5
    {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}



/* Carousel CSS */
.carousel-caption {
    font-size: 14px;
    position: absolute;
    right: 38%;
    bottom: 91px;
    /* left: 15%; */
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 85px;
    color: #ed0000 !important;
    text-align: left;
}

/* Section1 CSS */
.section2 {


    height: auto;
    width: auto;
    background-repeat: no-repeat;
}

.section2head {}

.sechtion2text {

    padding-top: 160px;
    padding-left: 647px;

}

.sectionbody {
    padding-bottom: 98px;
}

.section2btn {
    border-radius: 6px;
    background-color: #E14848;
    /* width: 250px; */
    padding: 14px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    /*margin-top: 30px;*/
    /* margin-bottom: 15px; */
}

.section3 {
    background-color: black;
}

.viewmoreevent {
    padding-bottom: 30px;
    padding-top: 30px;
}




.viewmoreclass {
        padding-bottom: 30px;
    padding-top: 30px;
}


.viewmorenews {
    padding-bottom: 30px;
    padding-top: 30px;
}

.viewmorealbum {
    padding-bottom: 30px;
    padding-top: 30px;
}



.eventbtnarea {
    height: 30px;
    border-radius: 4.5px;
    width: 180px;
}

.classsec {
    background-color: black;
}

.gallreysec {
    background-color: black;
}



.gallreydiv {
    padding-right: 0px;
    padding-left: 0px;
}



.gallrey {
    padding-bottom: 30px;
}

.musicalbum {
    padding-bottom: 40px;

}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Upcoming Events */

.eventimg {
    padding: 10px;

}

.eventimgbg {
    background-image: url(Img/bg_cream.png);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 15vw;
    object-fit: cover;
}

/*News Section */

.newssection {
    background-color: black;
}

.newscard {
    background-color: bisque;
}

/* FULL Footer Css */
.footer {
    padding-top: 25px;
    background-color: #c30101;
    padding-bottom: 24px;
}

.card {
    width: auto !important;


}

/*.card:hover {
    color: #E14848;
}*/

hr {
    border: 0;
    height: 20px;
    background: url("../images/hrline.png") 0 0;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hrwhite {
    border: 0;
    height: 100px;
    background-image: url(../images/hrline_white.png);
    background-repeat: no-repeat;
}

.hrimg {
  margin-bottom: 25px;
}

.announcement {
    padding-top: 08px;
    padding-bottom: 08px;
}

.hrline {

    text-align: center;
    margin: auto;
    padding-left: 480px;
    margin-bottom: 25px;

}


/*.img1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-image: url("https://i.imgur.com/nLeQdrV.png");
    background-position: center bottom, left top;
  background-repeat: no-repeat;
 

}*/

.sectionhead3 {
    padding-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #E14848;
    font-size: 26px;
}
/* Font awesome Icons */


.fas {}

.far.fa-calendar-alt,
.fa-user-friends,
.fa-clock,
.fa-map-marker-alt {

    color: #E14848;
}


.fa-paper-plane {
    color: white;
}


.fa-map-marker-alt {
    color: white;
}

/* Mini Footer Css */


.galdiv {
    position: relative;
    display: inline-block;
   
    box-shadow:  0 0 10px 0 #000;
    
    padding: 0;
}



.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

.overlayFade {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ff946bbd;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    background-color: #232121;
    
}

.galdiv:hover .overlay,
.galdiv:hover .overlayFade {
    opacity: .5;
}

.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #00b1ba;
}

.overlayRight {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: #12888e;
}

.galdiv:hover .overlayLeft,
.galdiv:hover .galdiv {
    width: 100%;
}

.overlayTop {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #d63c58;
}

.overlayBottom {
    width: 100%;

    bottom: 0;
    left: 0;
    background-color: #222;

}

.galdiv:hover .overlayTop,
.galdiv:hover .overlayBottom {
    
}

.overlayCross {
    width: 0%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #e47a52;
}

.galdiv:hover .overlayCross {
    height: 100%;
    width: 100%;
}


.musiccard {
    background: black;
}

.musicbtndiv {
    padding-top: 20px;
    text-align: center;
}



ul.footerlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: white;
}

.input-group-addon {
    color: #ff0000;
    
}

.fa,
.fas {
    font-weight: 900;
    padding-right: 5px;
}

.smicon {
    padding-top: 10px;
}

i.fas.fa-paper-plane {
    padding-left: 10px;
    padding-top: 06px;
    padding-right: 10px;
    padding-bottom: 10px;
}

button.newslatterbtn {
    background-color: black;
    border: none;
    height: 40px;
}

/* Example div css */

@media screen and (max-width: 576px) {

   h4, h5, h7 {
    font-size: 12px;
   }

   p{
    font-size: 10px;
   }

   .fas {
    font-size: 10px;
   }

    .navbar {
        font-size: 14px;
        background-color: #d96969 !important;
        height: auto;
    }

    .logotop {
        position: fixed;
        z-index: 99;
        padding-top: 50px;
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        height: 70vw;
        object-fit: cover;
    }

    .top-right {
        font-size: 10px;
        position: absolute;
        top: 8px !important;
        right: 9px !important;
    }

    .top-right h4 {
        font-size: 10px;
    }


    .top-right h6 {
        font-size: 8px;
    }

    .top-right button {
        font-size: 8px;
    }

    .top-right img {
        width: 207px;
        height: 25px;
        padding-bottom: 1px;
        padding-top: 0px;
    }}
    .card-title { font-size:16px; font-weight:bold;    text-transform: uppercase;}
.card-title a {color:#000;     text-decoration: none;}
.card-body span {font-size:13px;}
.card-body .fa-map-marker-alt { color: #E14848;

    color: #E14848;
}

.section2btn:hover{
    
    
    color: #fff;
    text-decoration: none;

}
.musicalbum .card-title {text-transform: capitalize;}
.musicalbum .card-text {color: #fff; font-size: 13px;}
.gallreysec .card-title {
    text-transform: capitalize;
    color: #E14848;
    padding-left: 7px;
    padding-right: 7px;
}
.gallreysec .card-text {color: #fff; font-size: 13px; padding-left: 7px;
    padding-right: 7px;}

.classsec .card-title {text-transform: capitalize;}
.classsec .card-text {color: #E14848; font-size: 13px;}
.newsandarticles .card-title {text-transform: capitalize;}
.newsandarticles .card-text {color: #949393; font-size: 13px; margin-bottom: 10px;}
.clnewsdate  {color: #949393;}
.footer .col-sm-3 {float: left;     font-size: 13px;}
.col-sm-3.footer-widget1 {
   
    padding-left: 61px;
}
.footer-widget1 h6 {font-weight: bold;}
.col-sm-3.footer-widget3 {
    padding-left: 61px;
}

.footer-widget1 p {color: #cbd0d3;}

h6.text-white.wd3text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}

h6.footerhead.text-center {font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;}
.footer-widget3 a:hover {color:#fff; text-decoration: none;}
.copyrights {padding-top: 20px; padding-bottom: 10px;}
.copyrighttext {font-size: 12px;}

.abouttext {
    margin-bottom: 21px;
}

.musicbtndiv a :hover {color:#fff; text-decoration: none;}
.musicbtn:hover{color:#fff; text-decoration: none;}
.logocss:hover {background: none !important;}
.footerlist li.list-item {color: #dde2e5}
.footerlist li{color: #dde2e5}

/* ------------- date 6 may 2019 start ---------------------- */ 


.about-right {
            position: absolute;
            top: 90px;
            margin-left: 42%;
            padding-top: 60px;
        }

        .about-right .h2 {
            padding-top: 0px !important;
        }

        .btn-primary {
            color: #000;
            background-color: #ffffff;
            border-color: #007bff;
            border-radius: 6.5px;
            border: solid 0.5px #707070;
        }


        .container.eventtypesection { 
            padding-top: 22px;
            padding-bottom: 22px;
        }

        

        .card-deck.cardrow {
            padding-bottom: 20px;
        }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {color: #fff;
    background-color: #fff;
    border-color: #000;
}
/* ------------- date 6 may 2019 end ---------------------- */ 


/* ------------- date 7 may 2019 Start ---------------------- */ 

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.eventpad {
    padding-top: 20px;
    padding-bottom: 20px;
}


.bookingdiv {
    padding-left: 100px;
}


.eventlist ul li {
    list-style: none;
      padding-left: 0px;
}

.eventlist ul{
    
      padding-left: 0px;
}
.eventlist span {
    font-size: 13px;
    padding-left: 5px;
}
.eventlist span a{
    color: #000;
    
}
.eventlist span a:hover{
    color: #000;
    text-decoration: none;
    
}
.col.booknow {
    padding-left: 500px;
}

.bookbtn {
   border-radius: 10px;
    background-color: #ee2225;
   
    color: #fff;
    padding:8px 15px 8px 15px;
    font-size: 13px;
}
.bookbtn:hover {
   
   
    color: #fff;
    text-decoration: none;
    
}


.btnlist {
    padding-right: 50px;
    padding-left: 15px;
}

.activitybtn {
    border-radius: 10px;
    background-color: #ee2225;
   
    color: #fff;
    padding:8px 15px 8px 15px;
    font-size: 13px;
}
.activitybtn:hover {
   
   
    color: #fff;
    text-decoration: none;
    
}

.event_description p { font-size:14px; margin-bottom:15px; text-align:justify;}
.event_description { margin-bottom:30px;}

.eventlist .fa {color:#ee2225;}
.eventlist .fab {color:#ee2225;}

/* ------------- date 17 June 2019 start ---------------------- */

.dropdown, .dropdown-item{
    opacity: 0.8;
    color: #fff;
}

.dropdown-item{
    padding: 0.25em;
}

.dropdown-divider{
    padding: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
}

.searchbardiv {
    background-color: white;
    border-radius: 10px;
}

.searchbar {
    border-radius: 10px;
    height: 25px;
    width: 134px !important;
    border: none;
}

.searchbtn {
    border: none;
    background-color: white;
    border-radius: 10px;
}

.eventbutton{
    margin-top: 2em;
    padding-bottom: 10px;
    padding-top: 20px;
}

.carousel-indicators li{
    opacity: 0.8;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    opacity: 0.8;
}

.expand-button{
    padding: 14px 50px;
    text-align: center;
}

.musicbtn {
    /* width: 100%; */
    /* height: 35px; */
    border-radius: 12px;
    border: solid 1px #ee2225;
    background: transparent;
    padding: 10px 35px;
    text-align: center;
    font-size: 13px;
}

#email{
    background: transparent;
    color: #fff;
}

.copyrights{
    background-color: #000;
    opacity: 1;
}

.copyrighttext a{
    text-decoration: none;
    color: green;
}
/* ------------- date 17 June 2019 end ---------------------- */