

.h7 {
    padding-left: 10px !important;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Navbar Css */
.navbar {
    font-size: 14px;
    background-color: black !important;

}

/* Logo CSS */
.logotop {

    position: fixed;
    z-index: 99;
    padding-top: 80px;
}

/* Carousel CSS */
.carousel-caption {
    font-size: 14px;
    position: absolute;
    right: 38%;
    bottom: 91px;
    /* left: 15%; */
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 85px;
    color: #ed0000 !important;
    text-align: left;
}

/* Section1 CSS */
.section2 {
   
    background-image: url('../Img/sec2.png');
    height: 416px;   
}

.section2head {

}

.sechtion2text {

    padding-top: 160px;
    padding-left: 647px;

}


.section2btn {
  border-radius: 3px;
  background-color: #c30101;
}

.section3 {
    background-color: black;
}

.eventbutton {
    padding-bottom: 20px;
    padding-top: 20px;
}
/*News Section */

.newssection {
    background-color: black;
}

.newscard {
    background-color: bisque;
}
/* FULL Footer Css */
.footer {
    padding-top: 20px;
}

.card {
    width: auto !important;
}


hr { border:0; height:20px; 
    background:url("../Img/hrline.png") 0 0; 
    background-repeat: no-repeat;
} 


.announcement {
    padding-top: 08px;
    padding-bottom: 08px;
}

.hrline {
    
    text-align: center;
    margin: auto;
    padding-left: 440px;
    
}


/*.img1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-image: url("https://i.imgur.com/nLeQdrV.png");
    background-position: center bottom, left top;
  background-repeat: no-repeat;
 

}*/

.sectionhead3 {
    padding-top: 25px;
}

/* Font awesome Icons */


.fas {
   
    

}

.far.fa-calendar-alt, .fa-user-friends, .fa-clock, .fa-map-marker-alt {
   
    color: red;
}




/* Mini Footer Css */
