
@media screen and (max-width:1450px) {

	header{
		width: 100%;
	}

	.logotop{
		margin-top: -3.5em;
		margin-left: 0em;
	}

	.navsearch{
		margin-top: 0.75em;	
	}

	.carousel-caption h3 {
		font-size: 1.5em;
	}

	.carousel-caption .imgOne {
		width: 24em !important;
		margin-top: -0.5em;
		margin-left: 0%;
	}
	
	.aboutUs-col{
		margin-top: 4em;
	}

	.aboutUs-col h4{
		font-size: 1.25em !important;
		margin-left: 14.25em !important;
		margin-top: 0.25em*/
	}

	.aboutUs-col .hrimg{
		width: 23.5em;
		margin-left: 18em;
	}

	.aboutUs-col .abouttext {
		margin-top: -1.5em;
		margin-left: 7.75em;
		padding-top: 0.75em;	
	}

	.aboutUs-col h6{
		font-size: 1em !important;
		margin-left: 10em;
		
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 1em;
		padding: 0.5em 0.75em;
		margin-left: 18em;
		margin-top: -4em;
		margin-bottom: 1.5em;
		border-radius: 4px;
	}
	
	/*Update Profile*/

	#content-2 table, #content-3 table, #content-4 table {
		margin-left: 4.5em !important;

	}
}

@media screen and (max-width:1600px) {

	header{
		width: 100%;
	}

	.logotop{
		margin-top: -3.5em;
		margin-left: 0em;
	}

	.navsearch{
		margin-top: 0.75em;	
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -3em;
		margin-bottom: 2.5em;
	}

	/*Update Profile*/

	#content-2 table, #content-3 table, #content-4 table {
		margin-left: 9em;

	}

}

@media screen and (max-width:1200px) {

	.ml-auto {
		font-size: 0.9em;
	}

	.dropdown {
		margin-top: 0.15em;
	}

	.carousel-caption {
		bottom: 2em;
	}
	
	.banner .top-right {
		margin-top: -3.5em;
	}

	.aboutUs-col h4{
		font-size: 1em !important;
	}

	.aboutUs-col .hrimg{
		width: 18.75em;
		margin-left: 14.5em;
	}

	.aboutUs-col .abouttext {
		margin-top: -1.5em;
	}

	.aboutUs-col h6{
		font-size: 0.75em !important;
		margin-left: 8.75em;
		
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 0.75em;
		padding: 0.75em 0.75em;
		margin-left: 19em;
	}

	/*Add Events*/

	.user-detail {
		margin-left: 15em;
		margin-top: -14em;
	}

	/*Update Profile*/

	#content-2 table, #content-3 table, #content-4 table {
		margin-left: 0em !important;

	}
}

@media screen and (max-width:1024px) {

	.ml-auto{
		font-size: 0.75em;
	}

	.logotop img {
		height: 4em;
		width: 4em;
	}

	.searchbar {
		width: 105px !important;
	}

	.carousel-caption {
		bottom: 0em !important;
	}

	.carousel-caption h3 {
		font-size: 1.25em;
	}

	.carousel-caption p {
		font-size: 0.8em;
	}

	.carousel-caption .imgOne {
		width: 20em !important;
		margin-top: -0.5em;
		margin-left: 0%;
	}

	.carousel-caption #carousel-button {
		font-size: 0.75em !important;
	}

	.aboutUs-col {
		margin-top: 2em;
		margin-right: -3.5em;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -3em;
		margin-bottom: 2.5em;
	}

	/*Add Events*/

	#add-events input, #add-events select {
		width: 250px;
	}

	#add-events form {
		margin-left: 4.5em;
	}

	.user-detail {
		margin-left: 17em;
		margin-top: -14em;
	}
}

@media screen and (max-width:992px) {

	.searchbar {
		font-size: 1em;
		margin-right: -3em !important;
	}

	.event_section h4, .classsec h4, .newsandarticles h4, .gallreysec h2, .musicalbum h4{
		font-size: 1.25em !important;
	}

	.event_section .class-hr, .newsandarticles .class-hr, .musicalbum .class-hr {
		width: 30% !important;
	}

	.classsec .class-hr, .gallreysec .class-hr-2 {
		width: 20% !important;
	}
}

@media screen and (max-width:991px) {

	.nav {
		display: block;
		background-color: #000;
		width: 250px;
    	margin-top: -5.6em;
   		margin-right: -1.2em;
   		font-size: 1em;
   		background-color: #191919;
	}

	.hideMenu {
		display: block;
	}

	.navsearch {
		padding-bottom: 1.5em;
	}

	.fa-search {
		padding-left:8em;
	}

	.logotop{
		margin-top: -4em;
	}

	.card-deck {
		display: grid;
		grid: auto/ auto auto;
	}

	.card{
		margin-top: 1.5em;
	}

	.card-img-top {
		height: 40vh;
	}
}

@media screen and (max-width:800px) {

	.nav {
		margin-top: -6em;
		font-size: 0.9em;
	}

	.carousel-caption {
		bottom: -1.5em !important;
	}

	.carousel-caption h3 {
		font-size: 1.25em;
		margin-bottom: 0em;
	}

	.carousel-caption p {
		font-size: 0.8em;
		margin-bottom: -1em;
	}

	.carousel-caption .imgOne {
		width: 20em !important;
	}

	.carousel-caption #carousel-button {
		font-size: 0.75em !important;
		padding: 1em 0.75em;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 15px;
		height: 15px;
	}

	.announcement {
		font-size: 0.9em;
	}
	
	.banner .top-right{
		margin-right: -3em;
		margin-top: -4em !important;
	}

	.aboutUs-col h4{
		font-size: 0.95em !important;
		margin-left: 18.25em !important;
	}

	.aboutUs-col .hrimg{
		width: 18em;
		margin-left: 17.25em;
	}

	.aboutUs-col .abouttext {
		margin-top: -1.5em;
	}

	.aboutUs-col h6{
		font-size: 0.75em !important;
		margin-left: 12.75em;		
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 0.75em;
		padding: 0.75em 0.75em;
		margin-left: 23.25em;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -3em;
		margin-left: 6em;
	}

	/*Add Events*/

	#add-events input, #add-events select {
		width: 200px;
	}

	#add-events form {
		margin-left: 3.5em;
	}

	.user-detail {
		margin-left: 18em;
		margin-top: -14em;
	}

	/*Update profile*/

	#content-1 form input, #content-1 form select {
		width: 235px;
	}

	#data-entry {
		font-size: 0.8em;
	}

	#search-data {
		font-size: 0.9em;
		margin-top: 0.57em;
	}
}

@media screen and (max-width:768px) {

	.nav{
		margin-right: -1.2em;
		margin-right: -1.3em;
	}

	.banner .top-right{
		margin-right: -3em;
		margin-top: -5em !important;
	}

	.footer .col-sm-12 {
		display: grid;
		grid: auto/ 1fr;
		margin-top: -2em;
		margin-bottom: -1em;
	}

	.col-sm-3 {
		max-width: 80%;
		text-align: center;
		left: 7%;
		margin-top: 2em;
	}

	.footer-widget2, .footer-widget4 {
		padding-left: 5em;
	}
	
	/*Add Events*/

	#add-events form {
		margin-left: 3.5em;
	}

	.user-detail {
		margin-left: 19em;
		margin-top: -14em;
	}

	/*Update profile*/

	#content-1 form input, #content-1 form select {
		width: 220px;
	}

	#search-data {
		margin-top: -2.25em;
	}
	
	#content-3 #search-data {
		padding-left: 5em;
	}

	#content-3 #search-data input {
		width: 80%;
		padding: 0.15em 0.25em 0.25em 0.25em;
	}
}

@media screen and (max-width:767px) {

	.gallreysec .img1 {
		padding: 1em;
	}

	.gallreysec .overlayBottom {
		left: 1em;
		width: 95.8%;
		margin-bottom: 1em;
	}

	/*Add Events*/

	#add-events input, #add-events select {
		width: 500px;
	}

	#add-events form {
		margin-left: 7.25em;
	}

	#add-events .btn-danger {
		width: 200px;
		margin: 1em 2em 0em 9.5em;
	}

	/*Add Events*/

	.user-detail {
		margin-left: 19em;
		margin-top: -14em;
	}

	.profilePic {
		margin-left: -12em;
	}

	/*Update profile*/

	#content-1 form input, #content-1 form select {
		width: 220px;
	}
}

@media screen and (max-width:694px) {

	.carousel-caption {
		bottom: -3em !important;
	}

	.carousel-indicators li{
		top: 1.25em;
		width: 10px;
		height: 10px;
	}

	.banner .top-right{
		margin-right: -4.5em;
	}

	.footer .col-sm-12 {
		left: -0.75%;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -3em;
		margin-left: 5em;
	}

	#add-events form {
		margin-left: 5.25em;
	}

	#content-1 .row {
		display: grid;
		grid: auto/ 1fr;
	}

	#content-1 form input, #content-1 form select {
		width: 300px;
	}

	#content-1 form {
		margin-left: 2em;
	}

	#content-2, #content-3, #content-4 {
		width: 75%;
		margin-left: 6em;
	}

	#search-data {
		margin-top: 0.57em !important;
	}
}

@media screen and (max-width:640px) {

	.nav{
		margin-right: -1.3em;
	}

	.carousel-caption {
		bottom: -4em !important;
	}

	.carousel-caption h3 {
		font-size: 1.15em;
		margin-bottom: 0em;
	}

	.carousel-caption p {
		font-size: 0.8em;
		margin-bottom: -1em;
	}

	.carousel-caption .imgOne {
		width: 18.5em !important;
		margin-top: -0.5em;
	}

	.aboutUs-col h4{
		font-size: 0.85em !important;
		margin-left:21.25em !important;
	}

	.aboutUs-col .hrimg{
		width: 16em;
		margin-left: 18.15em;
	}

	.aboutUs-col .abouttext {
		margin-top: -1.5em;	
	}

	.aboutUs-col h6{
		font-size: 0.7em !important;
		margin-left: 14.75em;
		margin-bottom: -1em;		
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 0.75em;
		padding: 0.75em;
		margin-left: 24.25em;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -3em;
		margin-left: 4.5em;
	}

	#add-events form {
		margin-left: 6.75em;
	}

	#add-events input, #add-events select {
		width: 400px;
	}

	#add-events .btn-danger {
		width: 200px;
		margin: 1em 2em 0em 6em;
	}

	#content-1 form {
		margin-left: 1em;
	}

	#content-3 #search-data {
		padding-left: 0em;
	}

	#content-2, #content-3, #content-4 {
		margin-left: 5em;
	}

}

@media screen and (max-width:600px) {

	.carousel-caption {
		bottom: -4em !important;
	}

	.carousel-caption h3 {
		font-size: 1em;
	}

	.carousel-caption p {
		font-size: 0.75em;
	}

	.carousel-caption .imgOne {
		width: 16em !important;
	}

	.carousel-caption #carousel-button {
		font-size: 0.75em !important;
		padding: 0.75em;
	}

	.announcement {
		font-size: 0.8em;
	}
	
	.banner .top-right{
		margin-right: -6.5em;
		margin-top: -6em !important;
	}

	/*About Us*/

	#add-events form {
		margin-left: 5.25em;
	}

	.aboutUs-head .text-center{
		margin-top: -3em;
		margin-left: 4em;
	}

	#content-1 form {
		margin-left: -0.5em;
	}

	#content-2, #content-3, #content-4 {
		margin-left: 4.7em;
	}
}

@media screen and (max-width:550px) {

	.carousel-caption h3 {
		font-size: 1em;
	}

	.carousel-caption p {
		font-size: 0.65em;
		margin-top: 0.20em;
		margin-bottom: -2.25em;
	}

	.carousel-caption .imgOne {
		width: 16em !important;
	}
	
	.banner .top-right{
		margin-right: -6.5em;
		margin-top: -6em !important;
	}

	.aboutUs-col h4{
		font-size: 0.7em !important;
		margin-left: 23.75em !important;
	}

	.aboutUs-col .hrimg{
		width: 14em;
		margin-left: 16.75em;
	}

	.aboutUs-col .abouttext {
		margin-top: -1.5em;	
	}

	.aboutUs-col h6{
		font-size: 0.65em !important;
		margin-left: 13.75em;
		margin-bottom: -1.5em;	
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 0.65em;
		padding: 0.75em;
		margin-left: 25.75em;
	}

	.card-deck {
		display: grid;
		grid: auto/ 1fr;
		padding-left: 5em;
		padding-right: 5em;
	}
	
	.viewmorenews, .viewmoreclass, .viewmoreevent {
		margin-top: 0em;
	}

	.viewmoremusic {
		margin-top: 2em;
	}

	.footer-widget1 p {
		font-size: 1em;
	}

	.footer .col-sm-12 {
		left: -1.5%;
	}

	/*About Us*/

	#add-events form {
		margin-left: 5.75em;
	}

	.aboutUs-head .text-center{
		margin-top: -3.5em;
		margin-left: 3.5em;
		margin-bottom: 3em;
	}

	.aboutUs-head .text-center .abouttext h4 {
		font-size: 1.25em;
	}

	/*Add events*/

	#add-events input, #add-events select {
		width: 350px;
	}
	
	.profilePic {
		margin-left: -12em;
	}

	.user-detail {
		margin-left: 10em;
		margin-top: -14em;
	}

	.user-detail h5, .user-detail p {
		font-size: 1em;
	}

	#add-events .btn-danger {
		width: 200px;
		margin: 1em 2em 0em 4.5em;
	}

	#content-1 form {
		margin-left: -2.5em;
	}

	#content-2, #content-3, #content-4 {
		margin-left: 4.25em;
	}

	#search-data {
		margin-top: -2.25em !important;
		margin: -2.25em -4em 0em 6em;
	}

	#search-data input {
		width: 55%;
	}

	#content-3 #search-data input {
		width: 55%;
	} 
}

@media screen and (max-width:520px) {

	.aboutUs-head .text-center{
		margin-left: 3.25em;		
	}

	/*Add events*/

	#add-events input, #add-events select {
		width: 340px;
	}

	#add-events form {
		margin-left: 4.75em;
	}

	#add-events .btn-danger {
		width: 200px;
		margin: 1em 2em 0em 4em;
	}

	.container-1 .tabs {
		display: grid;
		grid: 30px/1fr;
	}

	#content-1 form {
		margin-left: -3.5em;
	}
}

@media screen and (max-width:500px) {

	.carousel-caption {
		bottom: -5em !important;
	}

	.banner .top-right{
		margin-right: -6.25em;
		margin-top: -6.25em !important;
	}

	.aboutUs-head .text-center{
		margin-left: 3em;		
	}
	
	.footer .col-sm-12 {
		left: -2%;
	}

	/*Add Events*/

	#add-events input, #add-events select {
		width: 321px;
	}

	#add-events .btn-danger {
		width: 200px;
		margin: 1em 2em 0em 3.75em;
	}

	#content-1 form {
		margin-left: -4em;
	}

	#content-2, #content-3, #content-4 {
		margin-left: 3.8em;
	}

	#content-2 #data-entry, #content-3 #data-entry, #content-4 #data-entry {
		display: grid;
		grid: auto/ 1fr;
	}

	#data-entry select{
		width: 40%;
		margin-left: 0em;
		margin-bottom: 1em;
	}

	#search-data {
		margin: 0em !important;
	}
}

@media screen and (max-width:440px) {

	.carousel-caption {
		font-size: 0.75em;
		bottom: -6em !important;
	}

	.aboutUs-col h4{
		font-size: 0.7em !important;
		margin-left: 22.75em !important;
	}

	.aboutUs-col .hrimg{
		width: 14em;
		margin-left: 16em;
	}

	.aboutUs-col h6{
		margin-bottom: -2.75em;
		font-size: 0.6em !important;
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 0.5em;
		padding: 0.75em;
		margin-left: 32em;
	}

	.expand-button {
		font-size: 0.9em;
	}
	
	.footer .col-sm-12 {
		left: -2.5%;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -4em;
		margin-left: 2.4em;
		margin-bottom: 4em;
	}

	.aboutUs-head .text-center .abouttext h4 {
		font-size: 1em;
	}

	/*Add Events*/

	#add-events input, #add-events select {
		width: 260px;
	}

	#add-events .btn-danger {
		width: 180px;
		margin: 1em 2em 0em 2.5em;
	}

	.container-1 .tabs {
		width: 70%;
		margin-left: 4em;
	}

	#content-1 form input, #content-1 form select {
		width: 300px;
	}

	#content-1 form {
		margin-left: -5.75em;
	}

	#content-2, #content-3, #content-4 {
		margin-left: 3.25em;
	}
}

@media screen and (max-width:380px) {

	.logotop img{
		width: 3.5em;
		height: 3.5em;
	}

	.carousel-caption {
		font-size: 0.65em;
		bottom: -7em !important;
	}
	
	.carousel-caption #carousel-button {
		border-radius: 4px;
	}

	.announcement {
		font-size: 0.75em;
	}

	.banner .top-right{
		margin-right: -6.25em;
		margin-top: -6.75em !important;
	}

	.aboutUs-col h4{
		font-size: 0.6em !important;
		margin-left: 24.35em !important;
	}

	.aboutUs-col .hrimg{
		width: 12em;
		margin-left: 14em;
	}

	.aboutUs-col h6{
		margin-bottom: -3.5em;
		font-size: 0.5em !important;
	}

	.aboutUs-col .expand-button {
		width: 12em;
		font-size: 0.5em;
		padding: 0.75em;
		margin-left: 29.5em;
	}

	.card-deck {
		padding-left: 1em;
		padding-right: 1em;
	}

	.footer .col-sm-12 {
		left: -3.25%;
	}

	.copyrighttext {
		margin: 1em;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -4.5em;
		margin-left: 1.75em;
		margin-bottom: 4em;
	}

	.aboutUs-head .text-center .abouttext h4 {
		font-size: 1em;
	}

	/*Add Events*/

	#add-events input, #add-events select {
		width: 197px;
	}

	#add-events .btn-danger {
		width: 150px;
		margin: 1em 2em 0em 1.5em;
	}

	.event-add {
		text-align: center;
	}

	.profilePic {
		margin-left: -10em;
	}

	.container-1 .tabs {
		width: 80%;
		margin-left: 2.5em;
	}

	#content-1 form input, #content-1 form select {
		width: 290px;
	}

	#content-1 form {
		margin-left: -7em;
	}

	#content-2, #content-3, #content-4 {
		margin-left: 3em;
	}

	#content-2 #add-events-button {
		margin-bottom: -1.25em;
	}
}

@media screen and (max-width:320px) {

	.logotop img{
		width: 2.5em;
		height: 2.5em;
	}

	.carousel-caption {
		font-size: 0.55em;
		bottom: -10em !important;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 10px;
		height: 10px;
	}

	.carousel-indicators li{
		top: 1.25em;
		width: 8px;
		height: 8px;
	}

	.announcement {
		font-size: 0.6em;
	}

	.banner .top-right{
		font-size: 0.9em;
		margin-top: -7.5em !important
	}

	.aboutUs-col h4{
		font-size: 0.6em;
	}

	.aboutUs-col .hrimg{
		margin-bottom: 0.5em;
		margin-top: -0.5em;
	}

	.expand-button {
		font-size: 0.75em;
	}

	.classsec .expand-button {
		padding: 14px 40px;
	}

	.footer .col-sm-12 {
		left: -4.5%;
	}

	/*About Us*/

	.aboutUs-head .text-center{
		margin-top: -4.5em;
		margin-left: 1.15em;
		margin-bottom: 4em;
	}

	.aboutUs-head .text-center .abouttext h4 {
		font-size: 0.75em;
	}


	/*Add Events*/

	#add-events input, #add-events select, #add-events label {
		width: 250px;
		margin-left: -4.5em;
	}

	#add-events .btn-danger {
		width: 150px;
		margin: 1em 2em 0em -0.5em;
	}

	.event-add {
		width: 300px;
		margin-left: 1.25em;
	}

	#addFile {
		margin-left: -3.6em;
	}
	
	#add-events #maxFiles{
		display: block;
		margin-left: -4.5em;
	}

	.container-1 .tabs {
		width: 95%;
		margin-left: 1em;
	}

	#content-1 form input, #content-1 form select {
		width: 295px;
	}

	#content-1 form {
		margin-left: -9em;
	}
}